main {
  padding: 20px 20px 0px 20px;
  @media (min-width: 768px) {
    padding: 50px;
  }
  @media (min-width: 1024px) {
    padding: 30px 50px;
  }
}
.container__search {
  text-align: center;
  margin-bottom: 20px;

  .container__search-input {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      align-items: center;
    }

    & h2 {
      // padding-top: 2px;
      font-size: 16px;
      @media (min-width: 768px) {
        font-size: 30px;
        padding-top: 0px;
      }
    }

    & input {
      padding-left: 5px;
      width: 120px;
      height: 20px;
      font-size: 11px;
    }

    & button {
      width: 50px;
      height: 20px;
      font-size: 11px;
      background-color: lightblue;
      border: none;
      border-radius: 3px;
      color: lightslategray;
    }
    button:hover {
      border: 1px solid black;
      color: black;
      box-shadow: 3px 3px 5px gray;
    }
  }
}

.p__favorite {
  font-size: 14px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.container__global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  @media (min-width: 768px) {
    padding: 0px 30px;
    gap: 50px;
  }
  @media (min-width: 1024px) {
    padding: 0px 100px;
    gap: 50px;
  }

  .container__palettes,
  .container__favorite {
    width: 50%;
  }

  .container__favorite {
    width: 50%;

    & h2 {
      font-size: 18px;
      margin-bottom: 10px;
      @media (min-width: 768px) {
        font-size: 25px;
        margin-bottom: 20px;
      }
    }
  }

  .container__main {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 12px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    .container__palette {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .container__palette--colors {
      display: flex;
      flex-direction: row;
      justify-content: start;
      width: 150px;
      @media (min-width: 768px) {
        width: 250px;
      }
      &:hover {
        box-shadow: 5px 5px 10px black;
      }
    }

    .color {
      width: 30px;
      height: 30px;
      border: 0.5px solid black;
      @media (min-width: 768px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}
