<main>
  <div class="container__search">
    <h2>PALETTES:</h2>
    <p class="p__search">Buscar paleta</p>
    <input class="input__search js-search" type="text" />
    <div class="container__main js-container">
      <!-- 
    <div class="cointainer__palette">
      <h3></h3>
      <div class="container__palette--colors">
        <div class=color><div/>
      </div>
    </div>

     -->
    </div>
    <p class="p__favorite">*Haz click para añadirlas a favoritas</p>
    <p class="js-message-error"></p>
  </div>
  <div class="container__favorite">
    <h2>FAVORITAS*:</h2>

    <div class="container__main"></div>
  </div>
</main>
