<main>
  <div class="container__search">
    <h2>BUSCAR PALETA</h2>
    <input class="js-search" type="text" />
  </div>
  <p class="p__favorite">*Haz click para añadir o quitar paletas de Favoritas</p>

  <div class="container__global">
    <div class="container__palettes">
      <div class="container__main js-container-main"></div>
      <p class="js-message-error"></p>
    </div>
    <div class="container__favorite">
      <h2>Favoritas</h2>
      <div class="container__main js-container-favorite"></div>
    </div>
  </div>
</main>
